body {
  background-color: #092643; 
  color: #eb0aeb;
  font-family: 'WorkSans-VariableFont_wght', sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: 'WorkSans-VariableFont_wght';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
.home-container {
  text-align: center;
  margin-top: 50px; 
  animation: slideIn 1s ease-in-out;   
}

.home-heading {
  margin-top: 300px;
  font-size: 120px; /* Example font size */ 
  animation: slideIn 2.5s ease-in-out; /* Example animation */
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.short-paragraphs {
  margin-top: 20px;
}

.short-paragraphs p {
  font-size: 25px;
  margin-bottom: 10px;
}
.about-heading-container {
  text-align: center;
  margin-top: 30px;  
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.paragraph-container {
  background-color: #e9bff2;
  color: #223d88;
  border:1px solid #ef42f5;
  font-size: 14px;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}

.image-container {
  margin-top: 30px;
}

.image-container img {
  width: 200px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  border: solid #ef42f5 1px;
  border-radius: 8px;
}


.skills-heading, .experience-heading {
  text-align: center;
  font-size: 35px;
}
.skills-heading {
  margin-top: 30px;
}

.skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skills-container {
  border: solid rgb(76, 156, 129) 1px;
  border-radius: 10px;
  background-color: rgb(192, 240, 224);
  color: #092643;
  font-size: 12px;
  width: 60vw;
  margin: 30px auto 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  cursor: pointer;
  text-align: center; /* Center the text */
}

.skills-container img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5px;
}

.skills-container span {
  display: block; /* Ensure each text name appears on a new line */
}

.skills-container img:hover {
  transform: scale(1.2);
}


.experience-heading{
  margin-top: 30px;
}
.experience-container {
  position: relative;
}

.experience-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px; /* Adjust the width as needed */
  height: auto;
}

.additional-paragraph-container {
  border: solid rgb(76, 156, 129) 1px;
  border-radius: 10px;
  background-color: rgb(192, 240, 224);
  color: #223d88;
  font-size: 14px;
  width: 60vw; 
  margin: 20px auto; 
  padding: 20px;
}
.projects-heading{
  text-align: center;
  margin-top: 30px;
  font-size: px;
}
.project-wrapper {
  display: inline-block;
  text-align: left; /* Reset text-align for project containers */
}

.project1-container {
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  background-color: #e9bff2;
  color: #223d88;
  border:1px solid #ef42f5;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;   
}
.project1-content {
  flex: 1;
}
.project1-content h3 {
  margin-bottom: 10px;
}
.project1-content p {
  font-size: 14px;
  margin-right: 20px;
}
.project1-content button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #ef42f5;
  color: #fff;
  border: solid 1px #a10ca7;  
  border-radius: 5px;
  cursor: pointer;
}
.project1-image {
  cursor: pointer;
}

.project1-image img {
  max-width: 250px;
  height: auto;
  border-radius: 5px;
}
.project2-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;  
  background-color: rgb(207, 243, 231);
  border:1px solid rgb(44, 129, 101);
  color: #223d88;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;  
}
.project2-content {
  flex: 1;
}
.project2-content h3 {
  margin-bottom: 10px;
}
.project2-content p {
  font-size: 14px;
  margin-right: 20px;
}
.project2-content button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: rgb(55, 163, 127);
  color: #fff;
  border: solid rgb(44, 129, 101) 1px;
  border-radius: 5px;
  cursor: pointer;
}

.project2-image {
  cursor: pointer;
}
.project2-image img {
  max-width: 250px;
  height: auto;
  border-radius: 5px;
}
.project3-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  background-color: #e9bff2;
  color: #223d88;
  border:1px solid #ef42f5;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}
.project3-content {
  flex: 1;
}
.project3-content h3 {
  margin-bottom: 10px;
}
.project3-content p {
  font-size: 14px;
  margin-right: 20px;
}
.project3-content button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #ef42f5;
  color: #fff;
  border: solid 1px #a10ca7;  
  border-radius: 5px;
  cursor: pointer;
}

.project3-image {
  cursor: pointer;
}
.project3-image img {
  max-width: 250px;
  height: auto;
  border-radius: 5px;
}
.project4-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;  
  background-color: rgb(207, 243, 231);
  border:1px solid rgb(44, 129, 101);
  color: #223d88;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}
.project4-content {
  flex: 1;
}
.project4-content h3 {
  margin-bottom: 10px;
}
.project4-content p {
  font-size: 14px;
  margin-right: 20px;
}
.project4-content button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: rgb(55, 163, 127);
  color: #fff;
  border: solid rgb(44, 129, 101) 2px;
  border-radius: 5px;
  cursor: pointer;
}

.project4-image {
  cursor: pointer;
}
.project4-image img {
  max-width: 250px;
  height: auto;
  border-radius: 5px;
  position: relative;  
}
.contact-heading {
  text-align: center;
  margin-top: 30px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  border: solid 2px #a10ca7;
  width: 300px;
  height: 300px;
  background-color: #e9bff2;
  color: #223d88;
  margin: 30px auto ;
  border-radius: 10px;
  cursor: pointer;
}

.email-icon,
.linkedin-icon,
.insta-icon,
.github-icon {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  margin-top: 20px; /* Add spacing between icons */
}

.email-icon img,
.linkedin-icon img,
.insta-icon img,
.github-icon img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.email-icon p,
.linkedin-icon p,
.insta-icon p,
.github-icon p {
  margin-top: 10px; /* Add spacing between icon and text */
}

.email-icon:hover img,
.linkedin-icon:hover img,
.insta-icon:hover img,
.github-icon:hover img {
  transform: scale(1.2);
}


.hamburger-menu {
  display: none; /* Hide by default on desktop */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show for mobile devices */
  }

  .nav-links {
    display: none; /* Hide by default on mobile */
  }
}

@media only screen and (max-width: 768px) {
  .project1-container,
  .project2-container,
  .project3-container,
  .project4-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .project1-content,
  .project2-content,
  .project3-content,
  .project4-content {
    order: 3; /* Move the text content to the top */
  }

  .project1-image,
  .project2-image,
  .project3-image,
  .project4-image {
    order: 2; /* Keep the image in the middle */
    margin-bottom: 30px;
  }  

  .project-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Add some space between the image and buttons */
  }

  .project1-buttons button {
    margin-bottom: 10px; /* Add some space between buttons */
  }

  /* Adjust margin-top for projects with three buttons */
  .project2-buttons,
  .project3-buttons,
  .project4-buttons {
    margin-top: 20px; /* Add some space between the image and buttons */
  }

  /* Adjust margin-bottom for projects with three buttons */
  .project2-buttons button,
  .project3-buttons button,
  .project4-buttons button {
    margin-bottom: 10px; /* Add some space between buttons */
  }
}





